.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  background-color: rgb(39, 173, 173);
  color: white
}

.navItems {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}